img{
  height: 100vh;
  width: 100vw;
}

#circle{
  position:absolute;
  top:50%;
  transform:translate(10%,-10%);
  height:35px;
  width:35px;
  border-radius:50%;
  border:10px solid rgb(245, 239, 239);
  cursor: pointer;
}

.hex{
  position:absolute;
  top:50%;
  transform:translate(80%,100%);
  color: rgb(43, 43, 43);
}